/* Style Sheet */

h1  {
    color: #000000 !important;  /* Black with !important */
    margin-top: -80px;  
}

h3  {
    font-size: 22px;
    color: #0d3d66 !important;  /* Dark Blue with !important */
}

h2, h4, h5, h6 {
    font-size: 0.9rem;
    color: #0d3d66 !important;  /* Dark Blue with !important */
}

p, span, div {
    color: #000000 !important;  /* Black with !important */
    font-family: serif !important;  /* Serif Font with !important */
}

.metric-container {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.metric-label {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
.metric-value {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}
.metric-delta {
    font-size: 14px;
    color: #888888;
}

