/* Style Sheet */

h1  {
    color: #000000 !important;  /* Black with !important */
    margin-top: -80px;  
}

h3  {
    font-size: 20px;
    color: #0d3d66 !important;  /* Dark Blue with !important */
}

h2, h4, h5, h6 {
    color: #0d3d66 !important;  /* Dark Blue with !important */
}

p, span, div {
    color: #000000 !important;  /* Black with !important */
    font-family: serif !important;  /* Serif Font with !important */
}

/* Rounded edges on graph containers */
.rounded-box {
    border-radius: 8px;  /* Adjust this value to change the rounded edges */
    overflow: hidden;  /* Ensure content respects the border radius */
    background-color: white;  /* Ensure the background is white */
    padding: 10px;  /* Add padding if needed */
}

